{% extends "base.html" %}

{% block content %}

<div class="form-card">
    <h2>Nova Demanda</h2>

    <form method="POST">

        <div class="form-group">
            <label>Título</label>
            <input name="titulo" placeholder="Digite o título" required>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <textarea name="descricao" rows="5" placeholder="Descreva a demanda"></textarea>
        </div>

        <div class="form-row">

            <div class="form-group">
                <label>Solicitante</label>
                <select name="solicitante">
                    {% for u in usuarios %}
                    <option value="{{ u['nome'] }}">{{ u['nome'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>Prioridade</label>
                <select name="prioridade">
                    <option value="Alta">Alta</option>
                    <option value="Media">Média</option>
                    <option value="Baixa">Baixa</option>
                </select>
            </div>

        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primary"
                onclick="this.innerText='Salvando...'">
                Salvar
            </button>

            <a href="/" class="btn-secondary">Cancelar</a>
        </div>

    </form>
</div>

{% endblock %}